.players-container {
  display: flex;
  gap: 12rem;
  justify-content: center;
  justify-self: center;
  border-radius: 4rem;
  margin: 2.5rem;
}

.player {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.75rem;
  border-radius: 1rem;
  padding: 1rem 2rem;

  background-color: rgb(19, 19, 97);
  border: 1px solid black;
}
